body {
	color: white;
	margin: 0;
	font-family: 'Raleway', sans-serif, 'Courier New', monospace;
	letter-spacing: 1.5px;
	word-spacing: 10px;
	background: linear-gradient(to right, #0f2027, #2c5364, #203a43);
}

button {
	cursor: pointer;
}

input {
	border-radius: 5px;
}
